<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Quiz Generater</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="title-box">
            <h1 class="title">
                &nbsp;&nbsp;TEST YOUR KNOWELEDGE&nbsp;&nbsp;
            </h1>
        </div>
    </div>
    <div class="main-body" style="height: 100%;  display: flex;
    align-items: center;justify-content: center;">
        
    </div>
</body>

<script>
    
</script>
</html>
